@model IEnumerable<E_Ticaret.Models.Category>

@{
    ViewBag.Title = "categorylist";
}


<h2>Kategori Listesi</h2>


<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Ürün Listesi", "productlist", new { id = item.Id })
            </td>
        </tr>
    }

</table>
